.previewButton {
	--link-popover-preview-inline-size-start: 100px;
	--link-popover-preview-inline-size-end: 174px;
	inline-size: var(--link-popover-preview-inline-size-end);
	transition:
		inline-size var(--default-transition-duration) var(--ease-snappy),
		transform var(--default-transition-duration) var(--ease-snappy),
		opacity var(--default-transition-duration) var(--ease-snappy);
	will-change: inline-size, transform, opacity;
}

.previewText {
	mask-image: linear-gradient(to right, black calc(100% - 8px), transparent);
	-webkit-mask-image: linear-gradient(
		to right,
		black calc(100% - 8px),
		transparent
	);
}

@media (prefers-reduced-motion: reduce) {
	.previewButton {
		transition: none;
	}
}
